<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="split left">
        <div class="centered">
            <form onsubmit="sendData(event)">
                <label for="title">Blog Title:</label><br>
                <input type="text" id="title" required><br>
                <label for="author">Blog Author:</label><br>
                <input type="text" id="author" required><br>
                <label for="blog">Blog Content:</label><br>
                <textarea name="blog" id="blog" required></textarea><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="split right">
        <div class="centered" id="blogDisplay">
            
        </div>
    </div>
    <script src="back.js"></script>
</body>
</html>